ACF\Python\Datasets\*
ACF/Python/Datasets*
ACF\Python\Future\*
ACF/Python/Future/*
ACF\Python\logs\*
ACF/Python/logs/*
ACF\Python\__pycache__\*
ACF/Python/__pycache__/*
ACF\Python\.pytest_cache\*
ACF/Python/.pytest_cache/*
ACF\Python\Supplements2\*
ACF/Python/Supplements2/*
ACF\Python\Results\*.pdf
ACF/Python/Results/*.pdf
ACF\Python\*.sh
ACF/Python/*.sh
ACF\Python\supplementary*
ACF/Python/supplementary*
